@using SignalRWebUI.DTOs.AboutDTOs
@model List<ResultAboutDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hakkımda Bilgileri</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Resim </th>
                            <th> Başlık </th>
                            <th> Açıklama </th>
                            <th> Güncelle </th>
                            <th> Sil </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td class="py-1">
                                    <img src="@item.ImageUrl" alt="image" />
                                </td>
                                <td> @item.Title </td>
                                <td> @(item.Description.Length > 50 ? item.Description.Substring(0, 50) + "..." : item.Description)</td>
                                <td> <a href="/About/Update/@item.Id" class="btn btn-success"><i class="mdi mdi-refresh"></i></a> </td>
                                <td><a href="/About/Delete/@item.Id" class="badge badge-danger"><i class="mdi mdi-delete"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/About/Create" class="badge badge-info">Ekle</a>
            </div>
        </div>
    </div>
</div>

