@model SignalRWebUI.DTOs.TestimonialDTOs.CreateTestimonialDTO
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Referans Ekle</h4>
            <form class="forms-sample" method="post">

                <div class="form-group">
                    <label for="Name">Referans Adı</label>
                    <input type="text" class="form-control" asp-for="Name" id="Name">
                </div>

                <div class="form-group">
                    <label for="Name">Başlık</label>
                    <input type="text" class="form-control" asp-for="Title" id="Name">
                </div>

                <div class="form-group">
                    <label for="Comment">Yorum</label>
                    <textarea rows="5" asp-for="Comment" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="Status">Durum</label>
                    <select class="form-control" asp-for="Status" id="Status">
                        <option>True</option>
                        <option>False</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <a href="/Testimonial/Referances" class="btn btn-dark">Çık</a>
            </form>
        </div>
    </div>
</div>

