<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHead")
<style>
    .navbar-box {
        height: 90px;
        width: 100%;
        background: rgb(60,64,69);
        background: radial-gradient(circle, rgba(60,64,69,1) 0%, rgba(19,21,23,1) 100%);
        position: relative;
        z-index: 1;
        marign-bottom : 50px;
    }

    .header_section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 2;
    }
</style>
<body>

    <div>
        <div class="navbar-box">
            
        </div>
        <!-- header section strats -->
        @await Component.InvokeAsync("_UILayoutHeader")
        <!-- end header section -->
    </div>

    @RenderBody()
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutFooter")
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutScript")

</body>

</html>