@model SignalRWebUI.DTOs.DiscountDTOs.UpdateDiscountDTO
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">İndirim Güncelle</h4>
            <form class="forms-sample" method="post">
                <input type="hidden" asp-for="ImageUrl" value="@Model.ImageUrl"/>
                <input type="hidden" asp-for="Id" value="@Model.Id"/>
                <div class="form-group">
                    <label for="Title">Başlık</label>
                    <input type="text" class="form-control" asp-for="Title" id="Title">
                </div>

                <div class="form-group">
                    <label for="Description">Açıklama</label>
                    <input type="text" class="form-control" asp-for="Description" id="Description">
                </div>

                <div class="form-group">
                    <label for="Amount">Miktar</label>
                    <input type="text" class="form-control" asp-for="Amount" id="Amount">
                </div>

                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <a href="/Discount/DiscountList" class="btn btn-dark">Çık</a>
            </form>
        </div>
    </div>
</div>

