@using SignalRWebUI.DTOs.TableDTOs
@model List<ResultTableDTO>
@{
    ViewData["Title"] = "CustomerTableList";
    Layout = "~/Views/UILayout/WithoutSlider.cshtml";
    string color = "";
    string status = "";
}
<style>
    .widget {
        width: 300px;
        height: 100px;
        /*background-color: #2ecc71;  Yeşil arka plan */
        display: flex;
        align-items: center;
        border-radius: 10px;
        color: white;
        font-family: Arial, sans-serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .widget-icon {
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }

        .widget-icon i {
            font-size: 24px;
        }

    .widget-text {
        margin-left: 20px;
    }

        .widget-text h3 {
            margin: 0;
            font-size: 18px;
        }

        .widget-text p {
            margin: 0;
            font-size: 14px;
        }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<br />
<br />
<br />
<div class="container-fluid">
	<div class="row px-xl-5">
		<div class="col-12">
			<nav class="breadcrumb bg-dark mb-30">
				<a class="breadcrumb-item text-light" href="/Default/Index">Ana Sayfa</a>
				<a class="breadcrumb-item text-light" href="/Menu/Index">Masalar</a>
				<span class="breadcrumb-item active">Anlık Masa Durumları</span>
			</nav>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row px-xl-5">
        @foreach(var item in Model)
        {
            @if (item.Status == true)
            {
                status = "Masa Boş";
                color = "goldenrod";
            }
            else
            {
                status = "Masa Dolu";
                color = "grey";
            }
            <div class="col-md-3 mb-4">
                <div class="widget" style="background-color:@color;">
                    <div class="widget-icon" style="color:@color;">
                        <a href="/Product/Menu/"><i class="fas fa-chair"></i></a>
                    </div>
                    <div class="widget-text">
                        <h3>@item.Name</h3>
                        <p>@status</p>
                    </div>
                </div>
                <div>
                </div>
            </div>
        }
	</div>
</div>

